<!-- Main content -->
<section class="dashboard-body">


    <div class="row">

        <div class="col-md-4">

            <div class="filter-group">

                <div class="btn-group" role="group" aria-label="...">

                    <button type="button" class="btn"  ng-class="stressLevel === 'all' ? 'first-level-status' : 'btn-default' " ng-click="applyFilter(null, 'all')">All stress levels</button>
                    <button type="button" class="btn"  ng-class="stressLevel === '1' ? 'first-level-status' : 'btn-default' "ng-click="applyFilter(null, '1')">1</button>
                    <button type="button" class="btn" ng-class="stressLevel === '2' ? 'first-level-status' : 'btn-default' " ng-click="applyFilter(null, '2')">2</button>
                    <button type="button" class="btn" ng-class="stressLevel === '3' ? 'first-level-status' : 'btn-default' "  ng-click="applyFilter(null, '3')">3</button>
                    <button type="button" class="btn" ng-class="stressLevel === '4' ? 'first-level-status' : 'btn-default' "  ng-click="applyFilter(null, '4')">4</button>
                    <button type="button" class="btn" ng-class="stressLevel === '5' ? 'first-level-status' : 'btn-default' "  ng-click="applyFilter(null, '5')">5</button>
                    
                </div>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn" ng-class="period === 'lastday' ? 'first-level-status' : 'btn-default' " ng-click="applyFilter('lastday')">1d</button>
                    <button type="button" class="btn" ng-class="period === 'lastweek' ? 'first-level-status' : 'btn-default' " ng-click="applyFilter('lastweek')">7 d</button>
                    <button type="button" class="btn" ng-class="period === 'lastmonth' ? 'first-level-status' : 'btn-default' " ng-click="applyFilter('lastmonth')">1 Month</button>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn" ng-class="stressLevelChangeState === 'all' ? 'first-level-status' : 'btn-default' "ng-click="applyFilter(null, null, 'all')">All</button>

                    <button type="button" class="btn" ng-class="stressLevelChangeState === 'increased' ? 'first-level-status' : 'btn-default' "ng-click="applyFilter(null, null, 'increased')">
                        <i class="fa fa-arrow-up text-danger"></i>
                    </button>
                    <button type="button" class="btn" ng-class="stressLevelChangeState === 'decreased' ? 'first-level-status' : 'btn-default' "ng-click="applyFilter(null, null, 'decreased')">
                        <i class="fa fa-arrow-down text-success"></i>
                    </button>
                </div>

            </div>

            <div class="timeline-body">
            
                <div infinite-scroll="timelineNextPage()"  infinite-scroll-container="'.timeline-body'" infinite-scroll-distance="0" infinite-scroll-disabled='busy'>

                    <section class="main">

                        <ul ng-show="timelineEvents.length" class="timeline">

                            <li class="event"  id="point-{{::eventItem.id}}" ng-class="eventItem.stressLevelChangeState === 'increased' ? 'increased-level' : 'decreased-level' " ng-repeat="eventItem in timelineEvents">

                                <input type="radio" name="tl-group" ng-click="highLightMarker(eventItem.id, eventItem.geolocation)">
                                <label></label>
                                <div class="thumb" ng-class="eventItem.status">
                                    <p>{{::eventItem.stressLevel}}</p>
                                    <span>{{::eventItem.marker.time.time}}</span>
                                    <span class="event-date">{{::eventItem.marker.time.date}}</span>
                                </div>
                                <div class="content-perspective">
                                    <div class="content">
                                        <div class="content-inner">
                                            <p class="timeline-events">
                                                <span ng-repeat="previousEvent in eventItem.previousEvents">
                                                    {{::previousEvent.time.time}} : {{::previousEvent.description}}
                                                </span>
                                            </p>
                                            <h3 class="travel-type">
                                                <img ng-src="{{eventItem.marker.icon}}" class="timeline-icon" alt=""/>
                                                {{::eventItem.weather.tempF}}°F {{::eventItem.marker.time.time}} : {{::eventItem.marker.description}}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                
                            </li>

                        </ul>
                
                    </section>

                </div>
                    
            </div><!-- /.box-body -->
            

        </div>

        <div class="col-md-8 hidden-xs">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' options="map.options" >

                <ui-gmap-markers models="stressMarkers" idKey = "'id'" coords="'geolocation'" control="markerControl" doCluster="'true'" clusterOptions="clusterOptions"
                                 icon="'customIcon'" options="'markerOptions'" click="'onClick'">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>{{::title}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

                <ui-gmap-markers models="locations" idKey = "'place_id'" coords="'coords'"
                                 icon="'customIcon'" options="'markerOptions'" click="'onClick'">
                    <ui-gmap-windows show="show">
                        <div ng-non-bindable>{{::name}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>


    </div>

   
</section><!-- /.content -->

<init-timeline></init-timeline>
